@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bookshelf</h1>
    <p class="lead">On the pages of this website, you will be able to find the collection of greatest books ever.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Keep calm and read books</h2>
        <p>
            The main advantage of this site is simplicity. Just click the "Books" tab in the menu and you will see the variety of books and the author.
            By clicking "Authors" tab you will be able to search a quick info about authors.
        </p>
        <ul>On the future version:
             <li>book genres will be added</li>
             <li>more information about authors will be added</li>
             <li>infornation about athor by clicking the authors name will be added</li>
           </ul>
    </div>
</div>